.container{
    background-color: orangered;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: none;
    padding: 5px;
    color: white;
}
p{
    margin-left: 10px;
}
#country{
    background-color: orangered;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}
option{
    background:rgb(245, 247, 248);
}
#newscontent {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: white;
    padding: 10px;
}
.newsContent {
    background-color: white;
    border: none;
    text-align: center;
    padding: 10px;
}
img {
    height: 275px;
    width: 100%;
}
.title {
    text-align: center;
    color: black;
}
.des {
    text-align: center;
    color: gray;
}
.btn {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 2px;
    background-color: rgb(0, 110, 255);
    color: white;
    width: 100px;
}
.btn a {
    text-decoration: none;
    color: white;
    border: none;
}
.btn:hover {
    border: 1px solid black;
    transition: .5s;
}